<h2 mat-dialog-title *ngIf="!isLoading">Mi Perfil</h2>
<h2 mat-dialog-title *ngIf="isLoading">Actualizando Perfil...</h2>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab [disabled]="isLoading">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_box</mat-icon>&nbsp;
        Editar Perfil
      </ng-template>
      <div class="tab-container">
        <form class="form" [formGroup]="userForm" (ngSubmit)="editAccount()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Nombre" formControlName="name">
              <mat-error *ngIf="name.invalid">{{getNameErrors()}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Apellido" formControlName="lastName">
              <mat-error *ngIf="lastName.invalid">{{getLastNameErrors()}}</mat-error>
            </mat-form-field>
          </p>
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
          <div class="mat-dialog-actions">
            <button class="panel-buttons" type="submit" mat-raised-button color="primary" mat-button
              [disabled]="isLoading">Aceptar</button>
            <a class="panel-buttons" mat-raised-button mat-dialog-close mat-button [disabled]="isLoading">Cancelar</a>
          </div>
        </form>
      </div>

    </mat-tab>
    <mat-tab [disabled]="isLoading">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">lock</mat-icon>&nbsp;
        Cambiar Contraseña
      </ng-template>
      <div class="tab-container">
        <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Contraseña" formControlName="password">
              <mat-error *ngIf="password.invalid">{{getPasswordErrors()}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Confirmar Contraseña" formControlName="confirmPassword">
              <mat-error *ngIf="confirmPassword.invalid">{{getPasswordConfirmErrors()}}</mat-error>
            </mat-form-field>
          </p>
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
          <div class="mat-dialog-actions">
            <button class="panel-buttons" type="submit" mat-raised-button color="primary" mat-button
              [disabled]="isLoading">Aceptar</button>
            <a class="panel-buttons" mat-raised-button mat-dialog-close mat-button [disabled]="isLoading">Cancelar</a>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>
