<div class="login-layout">
    <div>
      <div class="card-container">
        <mat-card>
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
        <div class="opening">
        </div>
        <div class="closing"></div>
      </div>
    </div>
    <div class="footer">
      <div fxFlex="40">
        <p>HomeDrive</p>
      </div>
      <div style="flex: 1 1 0%;box-sizing: border-box;"></div>
      <div fxFlex="10">
        <span>Versión 0.1-alpha</span>
      </div>
    </div>
  </div>